# Exclude everything and opt-in for the files we want to push
/*

!.github
!.gitignore
!LICENSE
!README.md

!flake.nix
!flake.lock

!Justfile

!CMakeLists.txt

!meson.build
!meson_options.txt

!.editorconfig
!.clang-format
!.clang-tidy
!.clangd

!subprojects/
!external/
!include/
!docs/
!nix/
!src/
